html, body {
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.homeBack {
    height: 100%;
    width: 100%;
    background-image: url('../image/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    font-family: 'Ubuntu', sans-serif;
    position: relative;

}
#seeMoreButton{
    text-align: center;
    color: #E812AF;
    line-height: 35px;
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    border-radius: 100px;
    max-width: 200px;
    width: 100%;
    height: auto;
    border-color: black;
    background-color:white;
    border: 20px;
    -webkit-box-shadow: 10px 10px 41px -14px rgba(0,0,0,0.61);
    -moz-box-shadow: 10px 10px 41px -14px rgba(0,0,0,0.61);
    box-shadow: 10px 10px 41px -14px rgba(0,0,0,0.61);
}

#surpriseButton{
    text-align: center;
    line-height: 35px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    right: 10%;
    top: 3%;
    max-width: 200px;
    width: 100%;
    height: auto;
    border-radius: 100px;
    background-color:#E812AF;
    border: 0ch;
    -webkit-box-shadow: 10px 10px 41px -14px rgba(0,0,0,0.61);
    -moz-box-shadow: 10px 10px 41px -14px rgba(0,0,0,0.61);
    box-shadow: 10px 10px 41px -14px rgba(0,0,0,0.61);
}
#leftImage{
    position: absolute;
    top: 15%;
    left: 3%;
    
}

#heroImage{
    width: 80%;
    max-width: 600px;
    height: 80%;
    /* position: absolute; */
}

#rightContent{
    position: absolute;
    top: 20%;
    left: 40%;
    max-width: 50%;
    width: 100%;
    height: auto;
}
#header{
    font-size: 8vh;
}
#dubbi{
    color: blueviolet;
}
#description{
    font-size: 2.7vh;
}